*{
    margin:0;
    padding:0;
    box-sizing: border-box;     
}
body{
    justify-items: center;
    text-align: center;
    color:rgb(14, 44, 2)
}
.grass-container, .water-container, .fire-container {  
    flex-wrap: wrap;
    width: 100%;
    min-height: 130vh; 
    display: flex;
    display: inline-block;
    gap: 50px;
    color: #fff;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url('Pokemon Background/pokegrassland.gif'); /* Same for the other container */
}
.water-container {
    background-image: url('Pokemon Background/WaterType.gif');
}
.fire-container{
    background-image: url('Pokemon Background/flamebackground.gif');
}
.pokemon-container
{  
    font-weight: 100px;
    font-style: normal;
    font-family: 'Arial';
    color: black;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    display: inline-block;
    border: 1px solid rgb(116, 118, 224);
}
.card { 
    
    border: 0.8px solid gray;
    width:150px;
    height:150px
}
.card img
{
width: 150px;
padding: 10;
}
.card :hover
{
   width: 180px;
}
ul {
    list-style-type: none;
  }
.pokemon-type-grass
{
    color: #ffffff; 
    background-color: green;
    padding: 3px 3px;
    border-radius: 3px;
    display: inline-block;
}
.pokemon-type-fire
{
    color: #ffffff; 
    background-color: rgb(255, 81, 0);
    padding: 3px 3px;
    border-radius: 3px;
    display: inline-block;
}
.pokemon-type-poison
{
    color: #ffffff; 
    background-color: rgb(138, 45, 245);
    padding: 3px 3px;
    border-radius: 3px;
    display: inline-block;
}
.pokemon-type-bug
{
    color: #ffffff; 
    background-color: rgb(151, 230, 5);
    padding: 3px 3px;
    border-radius: 3px;
    display: inline-block;
}
.pokemon-type-electric
{
    color: #ffffff; 
    background-color: rgb(214, 211, 7);
    padding: 3px 3px;
    border-radius: 3px;
    display: inline-block;
}
.pokemon-type-psychic
{
    color: #ffffff; 
    background-color: rgb(241, 54, 179);
    padding: 3px 3px;
    border-radius: 3px;
    display: inline-block;
}
.pokemon-type-water
{
    color: #ffffff; 
    background-color: rgb(0, 102, 255);
    padding: 3px 3px;
    border-radius: 3px;
    display: inline-block;
}
.pokemon-type-ice
{
    color: #ffffff; 
    background-color: rgb(21, 197, 241);
    padding: 3px 3px;
    border-radius: 3px;
    display: inline-block;
}
.pokemon-type-flying
{
    color: #ffffff; 
    background-color: rgb(92, 157, 255);
    padding: 3px 3px;
    border-radius: 3px;
    display: inline-block;
}
.pokemon-type-fight
{
    color: #ffffff; 
    background-color: rgb(231, 97, 35);
    padding: 3px 3px;
    border-radius: 3px;
    display: inline-block;
}
.pokemon-type-rock
{
    color: #ffffff; 
    background-color: rgb(201, 143, 77);
    padding: 3px 3px;
    border-radius: 3px;
    display: inline-block;
}
.pokemon-type-dark
{
    color: #ffffff; 
    background-color: rgb(78, 60, 38);
    padding: 3px 3px;
    border-radius: 3px;
    display: inline-block;
}


